.listOrder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  overflow: hidden;
  .list_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    h2 {
      font-weight: 300;
      color: var(--text-color);
    }
    margin-bottom: 1rem;
  }
  .orders {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .order_container {
      width: 100%;
      height: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      background-color: var(--text-color-superlight);
      box-shadow: 0.5rem solid var(--shadow-color);
      padding: 1rem;
      overflow: hidden;
      transition: 0.5s;
      border-radius: 0.5rem;
      margin-top: 1rem;
      font-size: 0.9rem;
      color: var(--text-color);
      .order_type {
        font-weight: bold;
        margin-right: 0.5rem;
      }
      .order_wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        height: 7rem;
      }
      .order_wrp {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        overflow: hidden;
        .order_data {
          display: flex;
          width: 100%;
        }
        span {
          font-weight: bold;
          margin-right: 0.5rem;
        }
        .order_details {
          width: 90%;
          overflow: hidden;
          margin-top: 0.3rem;
        }
      }
    }
    .order_container:hover {
      background-color: var(--highlight-color);
      color: var(--text-color-superlight);
    }
  }
}
