.home{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width:100%;
    height:4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    background-color: var(--header-background);
    nav li{
        display: inline;
        padding:1rem;
        
    }
    a{
        text-decoration: none;
        color:var(--text-color-superlight);
        transition: .2s ease-out;
        font-weight: 500;
    }
    li a:hover{
        color:var(--text-color-black);
    }
    .mobile-menu{
        display: none;
    }
    .login{
        border:.1rem solid var(--background-color);
        color:var(--text-color-black);
        padding:.5rem;
        border-radius: .2rem;
        transition: .5s;
    }
    .login:hover{
        background-color: var(--background-color);
        color:var(--text-color-superlight);
    }
    .logo{
        .logo_header{
            color:var(--text-color-black);
            font-size:1.5rem;
            cursor: pointer;
        }
        span{
            color:var(--text-color-superlight)
        }
    }
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:70rem;
    padding:3rem;
    .banner_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        h2{
            font-size: 1.5rem;
            color: var(--text-color);
        }
        p{
            color:var(--text-color-light)
        }
        .register-btn{
            cursor:pointer;
            background-color: var(--background-color);
            color:var(--text-color-superlight);
            padding: .5rem;
            border-radius: 2rem;
            margin:1rem;
            align-self: flex-end;
            transition: .5s;
        }
        .register-btn:hover{
            background-color: var(--highlight-color);
        }
    }
    .banner_image{
        background-color: black;
        height:25rem;
        display: flex;
        overflow: hidden;
       border-radius: 1rem;
       justify-content: center;
       align-items: center;
       img{
           height: 100%;
       }
    }
}
